{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "An API for Mintlify documentation management and resource access.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chatfire.site/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "description": "AI问答",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model", "messages"],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "使用的AI模型名称",
                    "example": "deepseek-chat",
                    "enum": ["deepseek-chat", "deepseek-r1"]
                  },
                  "messages": {
                    "type": "array",
                    "description": "对话消息列表",
                    "items": {
                      "type": "object",
                      "required": ["content", "role"],
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "消息内容"
                        },
                        "role": {
                          "type": "string",
                          "description": "消息角色",
                          "enum": ["user", "assistant", "system"]
                        }
                      }
                    }
                  },
                  "group": {
                    "type": "string",
                    "description": "分组标识",
                    "default": "default",
                    "example": "default"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "是否启用流式响应",
                    "default": true
                  },
                  "temperature": {
                    "type": "number",
                    "description": "控制输出随机性的温度参数",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 0.7
                  },
                  "top_p": {
                    "type": "number",
                    "description": "核采样参数",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "频率惩罚参数",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "存在惩罚参数",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "流式响应数据，每行为一个JSON对象，格式为Server-Sent Events",
                  "example": "data: {\"id\":\"chatcmpl-123\",\"object\":\"chat.completion.chunk\",\"created\":1677652288,\"model\":\"dall-e-3\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hello\"},\"finish_reason\":null}]}\n\ndata: [DONE]\n\n"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "summary": "AI图片生成",
        "description": "使用AI模型生成图片，支持文生图和图生图",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model", "prompt"],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "使用的AI模型名称",
                    "enum": ["seedream-3.0", "jimeng", "keling", "dall-e-3"],
                    "example": "seedream-3.0"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "图片生成提示词，支持文生图；结合url参数可实现图生图",
                    "example": "3D魔童哪吒 c4d 搬砖 很开心， 很快乐， 精神抖擞， 背景是数不清的敖丙虚化 视觉冲击力强 大师构图 色彩鲜艳丰富 吸引人 背景用黄金色艺术字写着\"搬砖挣钱\" 冷暖色对比"
                  },
                  "url": {
                    "type": "string",
                    "description": "参考图片URL，用于图生图功能，与prompt结合使用",
                    "format": "uri"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成图片的数量",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  },
                  "response_format": {
                    "type": "string",
                    "description": "响应格式类型",
                    "enum": ["url"],
                    "default": "url"
                  },
                  "size": {
                    "type": "string",
                    "description": "图片尺寸",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024",
                      "1328x1328"
                    ],
                    "default": "1024x1024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/image/status": {
      "get": {
        "summary": "图片生成任务状态查询",
        "description": "查询图片生成任务状态",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "任务ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Task Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/video/generations": {
      "post": {
        "summary": "AI视频生成",
        "description": "使用AI模型生成视频，支持多种模型",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["model", "content"],
                    "properties": {
                      "model": {
                        "type": "string",
                        "description": "即梦模型",
                        "enum": ["doubao-seedance-1-0-lite-i2v-250428"],
                        "example": "doubao-seedance-1-0-lite-i2v-250428"
                      },
                      "content": {
                        "type": "array",
                        "description": "内容列表",
                        "items": {
                          "type": "object",
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["type", "text"],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "内容类型",
                                  "enum": ["text"]
                                },
                                "text": {
                                  "type": "string",
                                  "description": "视频生成提示词，支持添加--ratio参数指定视频比例",
                                  "example": "多个镜头。一名侦探进入一间光线昏暗的房间。他检查桌上的线索，手里拿起桌上的某个物品。镜头转向他正在思索。 --ratio 16:9"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": ["type", "image_url", "role"],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "内容类型",
                                  "enum": ["image_url"]
                                },
                                "image_url": {
                                  "type": "object",
                                  "required": ["url"],
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "图片URL",
                                      "format": "uri",
                                      "example": "https://ffile.chatfire.site/cf/chatfire-media/file/1754232741075_863fb7e6.jpg"
                                    }
                                  }
                                },
                                "role": {
                                  "type": "string",
                                  "description": "图片角色，用于指定首帧或尾帧",
                                  "enum": ["first_frame", "last_frame"]
                                }
                              }
                            }
                          ]
                        }
                      },
                      "prompt": {
                        "type": "string",
                        "description": "视频生成提示词",
                        "example": "身体慢慢变化，变成敖丙模样，变化过程渐变，不突兀"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["model", "prompt", "image_url"],
                    "properties": {
                      "model": {
                        "type": "string",
                        "description": "海螺模型",
                        "enum": ["minimax-hailuo-02"],
                        "example": "minimax-hailuo-02"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "参考图片URL",
                        "format": "uri",
                        "example": "https://static.ppinfra.com/docs/assets/minimax-hailuo-video-02-input-image.jpg"
                      },
                      "prompt": {
                        "type": "string",
                        "description": "视频生成提示词",
                        "example": "戴着太阳镜的毛茸茸的熊猫在日出时的雪山顶上跳舞，左移运镜"
                      },
                      "duration": {
                        "type": "integer",
                        "description": "视频时长（秒）",
                        "minimum": 1,
                        "maximum": 10,
                        "default": 6
                      },
                      "resolution": {
                        "type": "string",
                        "description": "视频分辨率",
                        "enum": ["768P", "1080P"],
                        "default": "768P"
                      },
                      "enable_prompt_expansion": {
                        "type": "boolean",
                        "description": "是否启用提示词扩展",
                        "default": true
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    },
    "/video/status": {
      "get": {
        "summary": "视频生成任务状态查询",
        "description": "查询视频生成任务状态",
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "任务ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "404": {
            "description": "Task Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Response code"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp"
          },
          "success": {
            "type": "boolean",
            "description": "Success status"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "聊天完成的唯一标识符"
          },
          "object": {
            "type": "string",
            "description": "对象类型",
            "enum": ["chat.completion"]
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "choices": {
            "type": "array",
            "description": "生成的选择列表",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "选择的索引"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "消息角色",
                      "enum": ["assistant"]
                    },
                    "content": {
                      "type": "string",
                      "description": "消息内容"
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "description": "完成原因",
                  "enum": ["stop", "length", "content_filter", "tool_calls"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "使用情况统计",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "提示词token数量"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "完成内容token数量"
              },
              "total_tokens": {
                "type": "integer",
                "description": "总token数量"
              }
            }
          }
        }
      },
      "ImageGenerateResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务唯一标识符"
          },
          "status": {
            "type": "string",
            "description": "任务状态",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的AI模型",
            "enum": ["seedream-3.0", "jimeng", "keling", "dall-e-3"]
          },
          "prompt": {
            "type": "string",
            "description": "原始提示词"
          },
          "response_format": {
            "type": "string",
            "description": "响应格式类型",
            "enum": ["url", "b64_json", "oss_url"]
          },
          "images": {
            "type": "array",
            "description": "生成的图片列表（仅在completed状态时返回）",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "图片URL（response_format为url或oss_url时返回）"
                },
                "b64_json": {
                  "type": "string",
                  "description": "Base64编码的图片数据（response_format为b64_json时返回）"
                },
                "oss_url": {
                  "type": "string",
                  "description": "OSS存储URL，有效期7天（response_format为oss_url时返回）"
                },
                "width": {
                  "type": "integer",
                  "description": "图片宽度"
                },
                "height": {
                  "type": "integer",
                  "description": "图片高度"
                },
                "format": {
                  "type": "string",
                  "description": "图片格式",
                  "enum": ["png", "jpg", "webp"]
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int64",
                  "description": "URL过期时间戳（仅url格式有效期24小时，oss_url格式有效期7天）"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "错误信息（仅在failed状态时返回）",
            "properties": {
              "code": {
                "type": "string",
                "description": "错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述"
              }
            }
          }
        }
      },
      "ImageStatusResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务唯一标识符"
          },
          "status": {
            "type": "string",
            "description": "任务状态",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "progress": {
            "type": "integer",
            "description": "任务进度百分比 (0-100)",
            "minimum": 0,
            "maximum": 100
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务创建时间戳"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务最后更新时间戳"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务完成时间戳（仅在completed状态时返回）"
          },
          "model": {
            "type": "string",
            "description": "使用的AI模型",
            "enum": ["seedream-3.0", "jimeng", "keling", "dall-e-3"]
          },
          "prompt": {
            "type": "string",
            "description": "原始提示词"
          },
          "response_format": {
            "type": "string",
            "description": "响应格式类型",
            "enum": ["url", "b64_json", "oss_url"]
          },
          "images": {
            "type": "array",
            "description": "生成的图片列表（仅在completed状态时返回）",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "图片URL（response_format为url或oss_url时返回）"
                },
                "b64_json": {
                  "type": "string",
                  "description": "Base64编码的图片数据（response_format为b64_json时返回）"
                },
                "oss_url": {
                  "type": "string",
                  "description": "OSS存储URL，有效期7天（response_format为oss_url时返回）"
                },
                "width": {
                  "type": "integer",
                  "description": "图片宽度"
                },
                "height": {
                  "type": "integer",
                  "description": "图片高度"
                },
                "format": {
                  "type": "string",
                  "description": "图片格式",
                  "enum": ["png", "jpg", "webp"]
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int64",
                  "description": "URL过期时间戳（仅url格式有效期24小时，oss_url格式有效期7天）"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "错误信息（仅在failed状态时返回）",
            "properties": {
              "code": {
                "type": "string",
                "description": "错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述"
              }
            }
          }
        }
      },
      "VideoGenerateResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务唯一标识符"
          },
          "status": {
            "type": "string",
            "description": "任务状态",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的AI模型",
            "enum": [
              "doubao-seaweed-241128",
              "minimax-hailuo-02",
              "doubao-seedance-1-0-lite-i2v-250428"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "原始提示词"
          },
          "content": {
            "type": "array",
            "description": "原始内容列表",
            "items": {
              "type": "object",
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "内容类型",
                      "enum": ["text"]
                    },
                    "text": {
                      "type": "string",
                      "description": "文本内容"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "内容类型",
                      "enum": ["image_url"]
                    },
                    "image_url": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "图片URL"
                        }
                      }
                    },
                    "role": {
                      "type": "string",
                      "description": "图片角色",
                      "enum": ["first_frame", "last_frame"]
                    }
                  }
                }
              ]
            }
          },
          "response_format": {
            "type": "string",
            "description": "响应格式类型",
            "enum": ["url", "oss_url"]
          },
          "videos": {
            "type": "array",
            "description": "生成的视频列表（仅在completed状态时返回）",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "视频URL"
                },
                "oss_url": {
                  "type": "string",
                  "description": "OSS存储URL，有效期7天"
                },
                "width": {
                  "type": "integer",
                  "description": "视频宽度"
                },
                "height": {
                  "type": "integer",
                  "description": "视频高度"
                },
                "duration": {
                  "type": "number",
                  "description": "视频时长（秒）"
                },
                "format": {
                  "type": "string",
                  "description": "视频格式",
                  "enum": ["mp4", "webm"]
                },
                "thumbnail": {
                  "type": "string",
                  "description": "视频缩略图URL"
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int64",
                  "description": "URL过期时间戳（url格式有效期24小时，oss_url格式有效期7天）"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "错误信息（仅在failed状态时返回）",
            "properties": {
              "code": {
                "type": "string",
                "description": "错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述"
              }
            }
          }
        }
      },
      "VideoStatusResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务唯一标识符"
          },
          "status": {
            "type": "string",
            "description": "任务状态",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "progress": {
            "type": "integer",
            "description": "任务进度百分比 (0-100)",
            "minimum": 0,
            "maximum": 100
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务创建时间戳"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务最后更新时间戳"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务完成时间戳（仅在completed状态时返回）"
          },
          "model": {
            "type": "string",
            "description": "使用的AI模型",
            "enum": [
              "doubao-seaweed-241128",
              "minimax-hailuo-02",
              "doubao-seedance-1-0-lite-i2v-250428"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "原始提示词"
          },
          "content": {
            "type": "array",
            "description": "原始内容列表",
            "items": {
              "type": "object",
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "内容类型",
                      "enum": ["text"]
                    },
                    "text": {
                      "type": "string",
                      "description": "文本内容"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "内容类型",
                      "enum": ["image_url"]
                    },
                    "image_url": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "图片URL"
                        }
                      }
                    },
                    "role": {
                      "type": "string",
                      "description": "图片角色",
                      "enum": ["first_frame", "last_frame"]
                    }
                  }
                }
              ]
            }
          },

          "response_format": {
            "type": "string",
            "description": "响应格式类型",
            "enum": ["url", "oss_url"]
          },
          "videos": {
            "type": "array",
            "description": "生成的视频列表（仅在completed状态时返回）",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "视频URL"
                },
                "oss_url": {
                  "type": "string",
                  "description": "OSS存储URL，有效期7天"
                },
                "width": {
                  "type": "integer",
                  "description": "视频宽度"
                },
                "height": {
                  "type": "integer",
                  "description": "视频高度"
                },
                "duration": {
                  "type": "number",
                  "description": "视频时长（秒）"
                },
                "format": {
                  "type": "string",
                  "description": "视频格式",
                  "enum": ["mp4", "webm"]
                },
                "thumbnail": {
                  "type": "string",
                  "description": "视频缩略图URL"
                },
                "expires_at": {
                  "type": "integer",
                  "format": "int64",
                  "description": "URL过期时间戳（url格式有效期24小时，oss_url格式有效期7天）"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "description": "错误信息（仅在failed状态时返回）",
            "properties": {
              "code": {
                "type": "string",
                "description": "错误代码"
              },
              "message": {
                "type": "string",
                "description": "错误描述"
              }
            }
          }
        }
      }
    }
  }
}
